/* MVP.css v1.6.2 - https://github.com/andybrewer/mvp */

:root {
    --border-radius: 0px;
    --box-shadow: 10px 10px 10px;
    --color: black;
    --color-accent: #0000ff;
    --color-bg: #fff;
    --color-bg-secondary: #0000ff;
    --color-secondary: #0000ff;
    --color-secondary-accent: #0000ff;
    --color-shadow: #ffff00;
    --color-text: #000;
    --color-text-secondary: #999;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --hover-brightness: 0.5;
    --justify-important: center;
    --justify-normal: center;
    --line-height: 1.5;
    --width-card: 6rem;
    --width-card-medium: 86px;
    --width-card-wide: 160px;
    --width-content: 100%;
}

/*
@media (prefers-color-scheme: dark) {
    :root {
        --color: #0097fc;
        --color-accent: #0097fc4f;
        --color-bg: #333;
        --color-bg-secondary: #555;
        --color-secondary: #e20de9;
        --color-secondary-accent: #e20de94f;
        --color-shadow: #bbbbbb20;
        --color-text: #f7f7f7;
        --color-text-secondary: #aaa;
    }
}
*/

#tiles {

    word-wrap: break-word;
}

#tiles img{

    width: var(--width-card);
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#tiles h4 {
    margin-bottom: 0;
}

#tiles p {
    margin-top: 1rem;
}

/* Layout */
article {

    margin-left: 1rem;
    margin-top: 5rem;
}

article aside {
    background: var(--color-shadow);
    border-left: 4px solid var(--color-secondary-accent);
    /*padding: 0.01rem 0.8rem;*/
}

body {
    background: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-family);
    line-height: var(--line-height);
    margin: 0;
    overflow-x: hidden;
    padding: 0 0;
}

footer,
header
{
    margin: 0 auto;
    max-width: var(--width-content);
    padding: 2rem 0rem;
}

main {
    margin: 0 auto;
    margin-left: 160px;
    max-width: var(--width-content);
    padding: 2rem 0rem;

}

main p {

    margin-top: 0px;
}

hr {
    background-color: var(--color-text);
    border: none;
    height: 1px;
    margin: 4rem 1rem;
}


section {
    display: flex;
    flex-wrap: wrap;
    /*justify-content: var(--justify-normal);*/
}

section aside {
    
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    margin: var(--width-card);
    margin-top: 5.4rem; 
    /*padding: 1.25rem;*/
    width: var(--width-card);
    height: var(--width-card);
    justify-content: left;
}

section aside:hover {
    border: 10px solid var(--color-bg-secondary);
    box-shadow: var(--box-shadow) var(--color-shadow);
    transform: scale(2.5,2.5);
}

section aside img {
    width: auto;
}

section aside p {
    margin-top: 1rem;
}

[hidden] {
    display: none;
}

/* Headers */
article header,
div header,
main header, 
nav header{
    padding-top: 0;
}

header {
    text-align: var(--justify-important);
}

header a b,
header a em,
header a i,
header a strong {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

header nav img{
    margin: 1rem 0;
}

section header {
    padding-top: 0;
    width: 100%;
}

header aside p {
    background: var(--color-shadow);
    border-left: 4px solid var(--color-secondary-accent);
    /*padding: 0.01rem 0.8rem;*/
    margin-left: 10rem;
}


/* Nav */
nav {
    word-wrap: break-word;
    align-items: top;
    display: block;
    text-align: right;
    justify-content: space-between;
    margin-bottom: 7rem;
    margin-right: 1rem;
    height: 90%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 2rem; /* Stay at the top */
    left: 0;
    background-color: var(--color-bg);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 0px;
    border-right:1px solid #000;
}

nav header h1 {

    margin-top: : 1rem;
    margin-bottom: 1rem;
}

nav header h1 a {

    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    width: 160px;
    margin-top: 20px;
}

nav ul li {
    display: block;
    margin-right: 1rem;
    position: relative;
    text-align: right;
}

/* Nav Dropdown */
nav ul li:hover ul {
    display: block;
}

nav ul li ul {
    background: var(--color-bg);
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    display: none;
    height: auto;
    left: -2px;
    padding: .5rem 1rem;
    position: absolute;
    top: 1.7rem;
    white-space: nowrap;
    width: auto;
}

nav ul li ul li,
nav ul li ul li a {
    display: block;
}

/* Typography */
code,
samp {
    background-color: var(--color-accent);
    border-radius: var(--border-radius);
    color: var(--color-text);
    display: inline-block;
    margin: 0 0.1rem;
    padding: 0 0.5rem;
}

details {
    margin: 1.3rem 0;
}

details summary {
    font-weight: bold;
    cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: var(--line-height);
}

mark {
    padding: 0.1rem;
}

ol li,
ul li {
    padding: 0.2rem 0;
}
/*
p {
    margin: 0.75rem 0;
    padding: 0;
}
*/
pre {
    margin: 1rem 0;
    max-width: var(--width-card-wide);
    padding: 1rem 0;
}

pre code,
pre samp {
    display: block;
    max-width: var(--width-card-wide);
    padding: 0.5rem 2rem;
    white-space: pre-wrap;
}

small {
    color: var(--color-text-secondary);
}

sup {
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    color: var(--color-bg);
    font-size: xx-small;
    font-weight: bold;
    margin: 0.2rem;
    padding: 0.2rem 0.3rem;
    position: relative;
    top: -2px;
}

/* Links */
a {
    color: var(--color-secondary);
    display: inline-block;
    font-weight: normal;
    text-decoration: none;
}

a:hover {
    
    text-decoration: underline;
}

a b,
a em,
a i,
a strong,
button {
    border-radius: var(--border-radius);
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    line-height: var(--line-height);
    margin: 0.5rem 0;
    padding: 1rem 2rem;
}

button {
    font-family: var(--font-family);
}

button:hover {
    cursor: pointer;
    filter: brightness(var(--hover-brightness));
}

a b,
a strong,
button {
    background-color: var(--color);
    border: 2px solid var(--color);
    color: var(--color-bg);
}

a em,
a i {
    border: 2px solid var(--color);
    border-radius: var(--border-radius);
    color: var(--color);
    display: inline-block;
    padding: 1rem 2rem;
}

/* Images */
figure {
    margin: 0;
    padding: 0;
    width: auto;
}

figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    margin-top: 6rem;
}

figure figcaption {
    color: var(--color-text-secondary);
}

/* Forms */

button:disabled,
input:disabled {
    background: var(--color-bg-secondary);
    border-color: var(--color-bg-secondary);
    color: var(--color-text-secondary);
    cursor: not-allowed;
}

button[disabled]:hover {
    filter: none;
}

form {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    display: block;
    max-width: var(--width-card-wide);
    min-width: var(--width-card);
    padding: 1.5rem;
    text-align: var(--justify-normal);
}

form header {
    margin: 1.5rem 0;
    padding: 1.5rem 0;
}

input,
label,
select,
textarea {
    display: block;
    font-size: inherit;
    max-width: var(--width-card-wide);
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
    display: inline-block;
    font-weight: normal;
    position: relative;
    top: 1px;
}

input,
select,
textarea {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    padding: 0.4rem 0.8rem;
}

input[readonly],
textarea[readonly] {
    background-color: var(--color-bg-secondary);
}

label {
    font-weight: bold;
    margin-bottom: 0.2rem;
}

/* Tables */
table {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    border-spacing: 0;
    display: inline-block;
    max-width: 100%;
    overflow-x: auto;
    padding: 0;
    white-space: nowrap;
}

table td,
table th,
table tr {
    padding: 0.4rem 0.8rem;
    text-align: var(--justify-important);
}

table thead {
    background-color: var(--color);
    border-collapse: collapse;
    border-radius: var(--border-radius);
    color: var(--color-bg);
    margin: 0;
    padding: 0;
}

table thead th:first-child {
    border-top-left-radius: var(--border-radius);
}

table thead th:last-child {
    border-top-right-radius: var(--border-radius);
}

table thead th:first-child,
table tr td:first-child {
    text-align: var(--justify-normal);
}

table tr:nth-child(even) {
    background-color: var(--color-accent);
}
